{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-bold is-small">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burger burger" aria-label="menu"
                           aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/">
                                Home
                            </a>
                            <a class="navbar-item"
                               href="{{ url_for('main.show_cell_list') }}">
                                Cells
                            </a>
                            <a class="navbar-item"
                               href="{{ url_for('main.show_projects') }}">
                                Projects
                            </a>
                            <a class="navbar-item">
                                Researchers
                            </a>
                            <a class="navbar-item is-active">
                                About
                            </a>
                            {% if current_user.is_authenticated %}
                                <div class="navbar-item">
                                    <div class="buttons">
                                        <a class="button is-rounded is-light"
                                           href="{{ url_for('main.account_dash') }}">
                                            <span class="icon">
                                                <i class="fas fa-user-circle"></i>
                                            </span>&nbsp;
                                            Account
                                        </a>
                                        <a class="button is-light is-rounded"
                                           href="{{ url_for('main.log_user_out') }}">
                                            <span class="icon">
                                               <i class="fas fa-power-off"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="navbar-item">
                                    <a class="button is-link is-rounded"
                                       href="{{ url_for('main.log_user_in') }}">
                                        Log In
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column">
                        <h1 class="title">About ThSCReg</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="notification">
                        <h1 class="title">Thailand Stem Cell Registry</h1>
                        <br>
                        <h1 class="subtitle"><strong>About the project</strong></h1>
                        <p>
                            ThSCReg is a freely accessible registry for Thailand-derived human pluripotent stem cell lines (hPSC lines), which developed to offer the research community, legislators, regulators, and the general public the primary source of information about cell lines and relevant research projects in Thailand. The project has been funded and supported by TCELS.
                        </p>
                        <br>
                        <h2 class="subtitle"><strong>Funding and support</strong></h2>
                        <p>
                            The project has been funded and supported by TCELS.
                        </p>
                        <br>
                        <h2 class="subtitle"><strong>Team</strong></h2>
                        <ul>
                            <li>Dr. Ruttachuk Rungsiwiwut, Srinakharinwirot University, <strong>Curator</strong> <span class="icon"><i class="fas fa-envelope"></i></span><span>ruttachuk@g.swu.ac.th</span></li>
                            <li>Asst. Prof. Dr. Narisorn Kitiyanant, Mahidol University, <strong>Curator</strong> <span class="icon"><i class="fas fa-envelope"></i></span><span>narisorn.kit@mahidol.ac.th</span></li>
                            <li>Dr. Likit Preeyanon, Mahidol University, <strong>System Administrator</strong> <span class="icon"><i class="fas fa-envelope"></i></span><span>likit.pre@mahidol.edu</span></li>
                        </ul>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
{% endblock %}
