{% extends "main/account_base.html" %}
{% block account_content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box">
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <th></th>
                            <th>Total</th>
                            <th>Pending</th>
                            <th>Approved</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Your Cell Lines</td>
                                <td>
                                    <a href="{{ url_for('main.account_cells', status_filter='all') }}">
                                        {{ cells['total'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.account_cells', status_filter='pending') }}">
                                        {{ cells['pending'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.account_cells', status_filter='approved') }}">
                                        {{ cells['approved'] }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Your Projects</td>
                                <td>
                                    <a href="{{ url_for('main.account_projects', status_filter='all') }}">
                                        {{ projects['total'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.account_projects', status_filter='pending') }}">
                                        {{ projects['pending'] }}
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.account_projects', status_filter='approved') }}">
                                        {{ projects['approved'] }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>Researchers in Your Affiliation</td>
                                <td>{{ affil_researchers|length }}</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>Cell Lines from Your Affiliation</td>
                                <td>
                                    {{ affil_cells['total'] }}
                                </td>
                                <td>
                                    {{ affil_cells['pending'] }}
                                </td>
                                <td>
                                    {{ affil_cells['approved'] }}
                                </td>
                            </tr>
                            <tr>
                                <td>Projects from Your Affiliation</td>
                                <td>{{ affil_projects['total'] }}</td>
                                <td>{{ affil_projects['pending'] }}</td>
                                <td>{{ affil_projects['approved'] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}