{% extends "base.html" %}
{% block title %}Thai SCReg Main Page{% endblock %}
{% block content %}
    <section class="hero is-info is-bold is-small">
        <div class="hero-head">
            {% include "main/navbar.html" %}
        </div>
        <div class="hero-body">
            <div class="container">
                <p><h1 class="title">{{ current_user.profile.academic_title_th or '' }} {{ current_user.profile.first_name_th or '' }} {{ current_user.profile.last_name_th or '' }}</h1>
                <h1 class="subtitle">{{ current_user.profile.first_name_en or '' }} {{ current_user.profile.last_name_en or ''}}</h1></p>
                <p><h1 class="subtitle">สังกัด {{ current_user.profile.affil.name_th or '-' }} วิทยาเขต {{ current_user.profile.affil.campus or '-'}}</h1></p>
            </div>
        </div>
        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li {% if page_name=='dashboard' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('main.account_dash') }}">Overview</a>
                        </li>
                        <li {% if page_name=='profile' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('main.edit_profile') }}">Profile</a>
                        </li>
                        <li {% if page_name=='cell' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('main.account_cells') }}">Cells</a>
                        </li>
                        <li {% if page_name=='project' %}class="is-active"{% endif %}>
                            <a href="{{ url_for('main.account_projects') }}">Project</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <section class="section">
        {% block account_content %}
        {% endblock %}
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
{% endblock %}
