{% extends "main/account_base.html" %}

{% block account_content %}
        <div class="container">
            <div class="columns">
                <div class="column has-text-right">
                    <a class="button is-link is-rounded"
                       href="{{ url_for('main.register_project') }}"
                    >
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>&nbsp;
                        Register Project
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="box" id="app">
                        {% if status_filter %}
                            <div class="tags has-addons">
                                <span class="tag">Filter</span>
                                <span class="tag is-primary">{{ status_filter }}</span>
                            </div>
                        {% endif %}
                        <b-table
                                :data="data"
                                ref="table"
                                paginated
                                per-page="5"
                                detailed
                                detail-key="id"
                        >
                            <template slot-scope="props">
                                <b-table-column field="id" label="ID" numeric>
                                    <% props.row.id %>
                                </b-table-column>
                                <b-table-column field="title_th" label="Title" width="300" sortable>
                                    <a @click="toggle(props.row)">
                                        <% props.row.title %>
                                    </a>
                                </b-table-column>
                                <b-table-column field="affil" label="Affiliation" width="300" sortable>
                                    <% props.row.affil %>
                                </b-table-column>
                                <b-table-column field="startdate" label="Start Date" sortable>
                                    <% props.row.startdate %>
                                </b-table-column>
                                <b-table-column field="enddate" label="End Date" sortable>
                                    <% props.row.enddate %>
                                </b-table-column>
                                <b-table-column field="status" label="Status" sortable>
                                    <% props.row.status %>
                                </b-table-column>
                                <b-table-column field="view" label="View">
                                    <a v-bind:href="'/project/'+props.row.id">
                                        <span class="icon">
                                            <i class="far fa-eye"></i>
                                        </span>
                                        <span class="tag"><% props.row.view_count %></span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="detail" slot-scope="props">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Created by <% props.row.creator.firstname %> <% props.row.creator.lastname %></strong>
                                                <small>
                                                    <span class="icon">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>&nbsp;<% props.row.creator.email %>
                                                    &nbsp;
                                                    <span class="icon">
                                                        <i class="fas fa-landmark"></i>
                                                    </span>&nbsp;<% props.row.creator.affil %>
                                                </small>
                                                <br>
                                                <div class="field is-grouped is-grouped-multiline">
                                                    <div class="control">
                                                        <a v-bind:href="'/cell/'+props.row.cell_id">
                                                            <div class="tags has-addons">
                                                                <span class="tag is-dark"><% props.row.cell_type %></span>
                                                                <span class="tag is-info">
                                                                <strong>THSCR-<% props.row.cell_id %></strong>
                                                            </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <br>
                                                <small><% props.row.summary %></small>
                                                <a v-bind:href="'/project/'+props.row.id"
                                                   class="button is-light is-small is-rounded">
                                                    See detail
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var vueApp = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data() {
                return {
                    data: {{ projects|tojson|safe }}
                }
            },
            methods: {
                toggle(row) {
                    this.$refs.table.toggleDetails(row)
                },
            }
        });
    </script>
{% endblock %}