{% extends "main/account_base.html" %}
{% block account_content %}
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="box has-text-centered">
                    <a class="button is-link is-rounded"
                       href="{{ url_for('main.register_cell') }}"
                    >
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>&nbsp;
                        Register Cell
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}