{% extends "main/account_base.html" %}

{% block account_content %}
        <div class="container">
            <div class="columns">
                <div class="column">
                    <div class="box" id="app">
                        <b-table
                                :data="data"
                                ref="table"
                                paginated
                                per-page="5"
                                detailed
                                detail-key="id"
                        >
                            <template slot-scope="props">
                                <b-table-column field="id" label="ID" numeric>
                                    <% props.row.id %>
                                </b-table-column>
                                <b-table-column field="title_th" label="Title" width="300" sortable>
                                    <a @click="toggle(props.row)">
                                        <% props.row.title %>
                                    </a>
                                </b-table-column>
                                <b-table-column field="affil" label="Affiliation" width="300" sortable>
                                    <% props.row.affil %>
                                </b-table-column>
                                <b-table-column field="startdate" label="Start Date" sortable>
                                    <% props.row.startdate %>
                                </b-table-column>
                                <b-table-column field="enddate" label="End Date" sortable>
                                    <% props.row.enddate %>
                                </b-table-column>
                                <b-table-column field="status" label="Status" sortable>
                                    <% props.row.status %>
                                </b-table-column>
                                <b-table-column field="view" label="View">
                                    <a @click="goto(props.row)">
                                        <span class="icon">
                                            <i class="far fa-eye"></i>
                                        </span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="detail" slot-scope="props">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Created by <% props.row.creator.firstname %> <% props.row.creator.lastname %></strong>
                                                <small>
                                                    <span class="icon">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>&nbsp;<% props.row.creator.email %>
                                                    &nbsp;
                                                    <span class="icon">
                                                        <i class="fas fa-landmark"></i>
                                                    </span>&nbsp;<% props.row.creator.affil %>
                                                </small>
                                                <br>
                                                <span class="tag is-link is-normal">ASC001-30</span>
                                                <span class="tag is-link is-normal">ASC001-30</span>
                                                <br>
                                                <small><% props.row.summary %>...</small>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var vueApp = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data() {
                return {
                    data: {{ projects|tojson|safe }}
                }
            },
            methods: {
                toggle(row) {
                    this.$refs.table.toggleDetails(row)
                },
                goto(row) {
                    window.open("/account/project/view/" + row.id)
                }
            }
        });
    </script>
{% endblock %}