{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-bold is-small">
        <div class="hero-head">
            {% include "main/navbar.html" %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column is-centered">
                        <img src="{{ url_for('static', filename='img/network.png') }}" width="100">
                        <h1 class="title">Cell Line Detail</h1>
                        <h1 class="subtitle">ID THSCR-{{ cell.id }}</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-right">
                    {% if current_user.is_authenticated and cell in current_user.own_cells %}
                        <a class="button is-link is-rounded"
                           href="{{ url_for('main.edit_cell', cell_id=cell.id) }}"
                        >
                        <span class="icon">
                            <i class="fas fa-pencil-alt"></i>
                        </span>&nbsp;
                            Edit Cell Line
                        </a>
                    {% endif %}
                    <a class="button is-link is-rounded"
                       href="{{ url_for('main.register_cell') }}"
                    >
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>&nbsp;
                        Register Cell Line
                    </a>
                </div>
            </div>
            <h1 class="title has-text-info">General</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Cell Line</p>
                        </div>
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>ID</td>
                                    <td>
                                        <div class="tags has-addons">
                                            <span class="tag is-dark is-medium">THSCR</span>
                                            <span class="tag is-success is-medium">{{ cell.id }}</span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cell Type</td>
                                    <td>{{ cell.cell_type }}</td>
                                </tr>
                                <tr>
                                    <td>Alternative names</td>
                                    <td>
                                        {% for altname in cell.data.get('alt_names', []) %}
                                            <span class="tag is-light is-rounded is-medium">{{ altname }}</span>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Comment</td>
                                    <td>{{ cell.data.get('comment', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Last update</td>
                                    <td>{{ cell.update_datetime|shortdatetime }}</td>
                                </tr>
                                <tr>
                                    <td>Availability</td>
                                    <td>{{ cell_availability }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h1 class="title has-text-info">Donor Information</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">General</p>
                        </div>
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Sex</td>
                                    <td>{{ cell.data.get('donor').get('sex', '').title() }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Phenotypes and Disease Related Information</p>
                        </div>
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Diseases</td>
                                    <td>{{ cell.data.get('donor').get('diseases', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Diseases-associated phenotypes</td>
                                    <td>{{ cell.data.get('donor').get('disease_associated_phenotypes', '') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Karyotyping</p>
                        </div>
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Has the donor karyotype has been analyzed?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('donor').get('karyotyped', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Is the genome-wide genotyping or functional data available?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('donor').get('genome_wide_study', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% if cell.cell_type=='hiPSC' %}
            <br><h1 class="title has-text-info">HIPSC Derivation</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Source cell type</td>
                                    <td>{{ cell.data.get('hipsc').get('source_cell_type', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Source cell origin</td>
                                    <td>{{ cell.data.get('hipsc').get('source_cell_origin', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Age of donor at collection</td>
                                    <td>{{ cell.data.get('hipsc').get('age_of_collection', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Collected in</td>
                                    <td>{{ cell.data.get('hipsc').get('collected_in', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Vector type</td>
                                    <td>{{ cell.data.get('hipsc').get('vector_type', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Vector</td>
                                    <td>{{ cell.data.get('hipsc').get('vector', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Selection criteria for clones</td>
                                    <td>{{ cell.data.get('hipsc').get('selection_criteria', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Derived under xeno-free condition?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('hipsc').get('derived_condition', {}).get('xeno_free') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Derived under GMP?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('hipsc').get('derived_condition', {}).get('under_gmp') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Available as clinical grade?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('hipsc').get('clinical_grade_available', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if cell.cell_type=='hESC' %}
            <br>
            <h1 class="title has-text-info">HESC Derivation</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Embryo Stage</td>
                                    <td>{{ cell.data.get('hesc').get('embryo_stage', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Supernumerary embros from IVF treatment?</td>
                                    <td>
                                    <span class="icon">
                                        {% if cell.data.get('hesc').get('ivf_treatment', '') == no %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>PGD Embryo?</td>
                                    <td>
                                    <span class="icon">
                                        {% if cell.data.get('hesc').get('pgd_embryo', '') == no %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                    </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ZP removal technique</td>
                                    <td>{{ cell.data.get('hesc').get('zp_removal_technique', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Cell isolation</td>
                                    <td>{{ cell.data.get('hesc').get('cell_isolation', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Cell seeding</td>
                                    <td>{{ cell.data.get('hesc').get('cell_seeding', '') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if cell.cell_type=='MSC' %}
            <br><h1 class="title has-text-info">MSC Derivation</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Source cell origin</td>
                                    <td>{{ cell.data.get('msc').get('source_cell_origin', '') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <br>
            <h1 class="title has-text-info">Culture Conditions</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Surface coating</td>
                                    <td>{{ cell.data.get('culture').get('surface_coating', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Feeder cells</td>
                                    <td>
                                        {{ cell.data.get('culture', {}).get('feeder_cells', '') }}</td>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Passage method</td>
                                    <td>{{ cell.data.get('culture').get('passage_method', '') }}</td>
                                </tr>
                                <tr>
                                    <td>CO2 concentration</td>
                                    <td>{{ cell.data.get('culture').get('co2_conc', '') }}</td>
                                </tr>
                                <tr>
                                    <td>O2 concentration</td>
                                    <td>{{ cell.data.get('culture').get('o2_conc', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Medium</td>
                                    <td>{{ cell.data.get('culture').get('medium', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Has Rock inhibitor (Y27632) been used at passage previously with this cell
                                        line?
                                    </td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('culture').get('rock_inhibitor_passage', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Has Rock inhibitor (Y27632) been used at cryo previously with this cell line?
                                    </td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('culture').get('rock_inhibitor_cryo', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Has Rock inhibitor (Y27632) been used at thaw previously with this cell line?
                                    </td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('culture').get('rock_inhibitor_thaw', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% else %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h1 class="title has-text-info">Characterization</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <th>Marker name</th>
                                <th>Expressed</th>
                                <th>Immunostaining</th>
                                <th>RT-PCR</th>
                                <th>FACTS</th>
                                <th>Enzymatic assay</th>
                                <th>Expression profiles</th>
                                {% for marker in cell.data.get('characterization', {}).get('markers', {}) %}
                                    <tr>
                                        <td>{{ marker.get('name', '') }}</td>
                                        <td>
                                        <span class="icon">
                                        {% if marker.get('expressed', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% elif marker.get('expressed', '') == 'yes' %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                        </td>
                                        <td>
                                        <span class="icon">
                                        {% if marker.get('immunostaining', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% elif marker.get('immunostaining', '') == 'yes' %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                        </td>
                                        <td>
                                        <span class="icon">
                                        {% if marker.get('rtpcr', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% elif marker.get('rtpcr', '') == 'yes' %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                        </td>
                                        <td>
                                        <span class="icon">
                                        {% if marker.get('facts', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% elif marker.get('facts', '') == 'yes' %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                        </td>
                                        <td>
                                            {{ marker.get('enzyme', '') }}
                                        </td>
                                        <td>
                                            {{ marker.get('profiles', '') }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title">Differentiation Potency</p>
                        </div>
                        <div class="card-content">
                            <table class="table is-fullwidth is-striped">
                                <col width="40%">
                                <tr>
                                    <td>Endoderm</td>
                                    <td>{{ cell.data.get('characterization', {}).get('endoderm_potency', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Ectoderm</td>
                                    <td>{{ cell.data.get('characterization', {}).get('ectoderm_potency', '') }}</td>
                                </tr>
                                <tr>
                                    <td>Mesoderm</td>
                                    <td>{{ cell.data.get('characterization', {}).get('mesoderm_potency', '') }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <h1 class="title has-text-info">Genotyping</h1>
            <div class="columns">
                <div class="column">
                    <div class="card">
                        <div class="card-content">
                            <table class="table is-striped is-fullwidth">
                                <col width="40%">
                                <tr>
                                    <td>Has the cell line been karyotyped?</td>
                                    <td>
                                        <span class="icon">
                                        {% if cell.data.get('genotyping', {}).get('karyotyped', '') == 'no' %}
                                            <i class="fas fa-times has-text-danger"></i>
                                        {% elif cell.data.get('genotyping', {}).get('karyotyped', '') == 'yes' %}
                                            <i class="fas fa-check has-text-success"></i>
                                        {% endif %}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Karyotype</td>
                                    <td>
                                        {{ cell.data.get('genotyping', {}).get('karyotype') }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    <script>
        var vueApp = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data() {
                return {}
            },
            methods: {
                toggle(row) {
                    this.$refs.table.toggleDetails(row)
                },
                goto(row) {
                    window.open("/account/project/view/" + row.id)
                }
            }
        });
    </script>
{% endblock %}
