{% extends "base.html" %}
{% block title %}Thai SCReg Main Page{% endblock %}
{% block content %}
    <section class="hero is-info is-bold is-medium">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burger burger" aria-label="menu"
                           aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active">
                                Home
                            </a>
                            <a class="navbar-item">
                                Cells
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.show_projects') }}">
                                Projects
                            </a>
                            <a class="navbar-item">
                                Researchers
                            </a>
                            <a class="navbar-item">
                                About
                            </a>
                            {% if current_user.is_authenticated %}
                                <div class="navbar-item" >
                                    <div class="buttons">
                                        <a class="button is-rounded is-light"
                                           href="{{ url_for('main.account_dash') }}">
                                            <span class="icon">
                                                <i class="fas fa-user-circle"></i>
                                            </span>&nbsp;
                                                Account
                                        </a>
                                        <a class="button is-light is-rounded"
                                           href="{{ url_for('main.log_user_out') }}">
                                            <span class="icon">
                                               <i class="fas fa-power-off"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="navbar-item">
                                    <a class="button is-link is-rounded"
                                       href="{{ url_for('main.log_user_in') }}">
                                        Log In
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <br>
                        <h1 class="title">Thailand National Stem Cell Registry (ThSCReg)</h1>
                        <h1 class="subtitle is-size-4">
                            <span class="icon">
                                <i class="fas fa-rocket"></i>
                            </span>
                            For The Advancement of Stem Cell Research & Innovation in Thailand</h1>
                        <br><br>
                        <h1 class="title is-size-5">Funded by Thailand Center of Excellence for Life Science (TCELS)</h1>
                        <div class="has-text-centered">
                            <a class="button is-link is-rounded is-large"
                               href="{{ url_for('main.register_project') }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>&nbsp;
                                Register Project
                            </a>
                            <a class="button is-success is-rounded is-large"
                               href="{{ url_for('main.register_cell') }}">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>&nbsp;
                                Register Cell
                            </a>
                        </div>
                    </div>
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title is-centered">
                                    Sign Up For A New Account
                                </p>
                            </div>
                            <div class="card-content">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="field">
                                        <div class="control">
                                            {{ form.email(placeholder='Email Address', class='input') }}
                                        </div>
                                        {% for error in error_msg['email'] %}
                                            <div class="help is-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            {{ form.password1(placeholder='Password', class='input') }}
                                        </div>
                                        {% for error in error_msg['password1'] %}
                                            <div class="help is-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="field">
                                        <div class="control">
                                            {{ form.password2(placeholder='Confirm Password', class='input') }}
                                        </div>
                                        {% for error in error_msg['password2'] %}
                                            <div class="help is-danger">{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                    <div class="has-text-centered">
                                        {{ form.submit(class='button is-info') }}
                                    </div>
                                </form>
                            </div>
                            <footer class="card-footer">
                                <a class="card-footer-item" href="{{ url_for('main.log_user_in') }}">Sign In</a>
                                <a class="card-footer-item">Forgot password?</a>
                            </footer>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        <p class="subtitle">Last Validated Cell Lines</p>
                        <span class="tag is-light is-normal">ASC001-30</span>
                        <span class="tag is-light is-normal">ASC001-30</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form>
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text"
                                           class="input is-large is-rounded is-focused"
                                           placeholder="Search Cell Line">
                                    <span class="icon is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title">
                        About ThSCReg
                    </h1>
                    <div class="notification">
                        <div class="content">
                            <h3>
                            <span class="icon">
                                <i class="fas fa-question-circle"></i>
                            </span>&nbsp;What is ThSCReg</h3>
                            <p>
                                <small>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum
                                </small>
                            </p>
                            <button class="button is-light is-rounded">More</button>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <h1 class="title">
                        Events
                    </h1>
                    {% for evt in events %}
                        <div class="notification">
                            <div class="content">
                                <p>
                                    <span class="icon">
                                       <i class="far fa-calendar-alt"></i>
                                    </span>&nbsp;<strong>{{ evt.name }}</strong>
                                    <br>
                                    <span class="icon">
                                        <i class="fas fa-map-marker"></i>
                                    </span>&nbsp;<small>{{ evt.venue }}</small>
                                    <br>
                                    <span class="icon">
                                        <i class="far fa-clock"></i>
                                    </span>&nbsp;<small><strong>{{ evt.start|shortdatetime }}</strong></small>
                                    to&nbsp;<small><strong>{{ evt.end|shortdatetime }}</strong></small>
                                    <br>
                                    <span class="icon">
                                        <i class="fas fa-info-circle"></i>
                                    </span>&nbsp;<small>{{ evt.description|truncate(150, True) }}</small>
                                    <a class="button is-small is-light is-rounded">
                                        <small>More</small>
                                    </a>
                                    <br>
                                    <div class="has-text-left">
                                        <small>By {{ evt.creator.profile.first_name_th }} {{ evt.creator.profile.last_name_th }}</small>
                                    </div>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="column">
                    <h1 class="title">
                        Recent Projects
                    </h1>
                    {% for proj in projects %}
                        <article class="message">
                            <div class="message-header">
                                {{ proj.title }} ({{ proj.acronym }})
                                <span class="tag is-warning is-normal">{{ proj.status.status }}</span>
                            </div>
                            <div class="message-body">
                                <p class="content">
                                    <small>{{ proj.summary|truncate(200, True) }}</small>
                                    <a class="button is-small is-light is-rounded">
                                        <small>More</small>
                                    </a>
                                    <br>
                                    <span class="tag is-link is-normal">ASC001-30</span>
                                    <span class="tag is-link is-normal">ASC001-30</span>
                                </p>
                            </div>
                        </article>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}