{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-fullheight is-bold">
    <div class="hero-head">
    </div>
    <div class="hero-body" id="app">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-4">
                    {% if error_msg %}
                        <b-message title="Login Failed" type="is-danger">
                            {{ error_msg }}
                        </b-message>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title is-centered">
                                Log In
                            </p>
                        </div>
                        <div class="card-content">
                            <form method="post">
                                {{ form.hidden_tag() }}
                                <div class="field">
                                    <div class="control">
                                        {{ form.email(placeholder='Email Address', class='input') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        {{ form.password(placeholder='Password', class='input') }}
                                    </div>
                                </div>
                                <div class="has-text-centered">
                                    {{ form.submit(class='button is-info') }}
                                </div>
                            </form>
                            <hr>
                            <div class="has-text-centered">
                                <a href="/">
                                    <p>Forgot Password?</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var vueApp = new Vue({
            el: '#app',
        });
    </script>
{% endblock %}