{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-fullheight is-bold">
    <div class="hero-head">
        {% include "main/navbar.html" %}
    </div>
    <div class="hero-body" id="app">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third is-offset-4">
                    {% if error_msg %}
                        <b-message title="Something Went Wrong!" type="is-danger">
                            {{ error_msg }}
                        </b-message>
                    {% endif %}
                    <div class="card">
                        <div class="card-header">
                            <p class="card-header-title is-centered">
                                Log In
                            </p>
                        </div>
                        <div class="card-content">
                            <form method="post">
                                {{ form.hidden_tag() }}
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        {{ form.email(placeholder='Email Address', class='input') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        {{ form.password(placeholder='Password', class='input') }}
                                    </div>
                                </div>
                                <div class="has-text-centered">
                                    {{ form.submit(class='button is-info') }}
                                </div>
                            </form>
                        </div>
                        <footer class="card-footer">
                            <a class="card-footer-item" href="/">
                                <span class="icon">
                                    <i class="fas fa-home"></i>
                                </span>&nbsp;Home
                            </a>
                            <a class="card-footer-item">Forgot Password?</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var vueApp = new Vue({
            el: '#app',
        });
    </script>
{% endblock %}