{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-bold is-small">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a role="button" class="navbar-burger burger" aria-label="menu"
                           aria-expanded="false" data-target="navbarBasicExample">
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                            <span aria-hidden="true"></span>
                        </a>
                    </div>
                    <div id="navbarBasicExample" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item" href="/">
                                Home
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.show_cell_list') }}">
                                Cells
                            </a>
                            <a class="navbar-item is-active"
                               href="{{ url_for('main.show_projects') }}">
                                Projects
                            </a>
                            <a class="navbar-item">
                                Researchers
                            </a>
                            <a class="navbar-item" href="{{ url_for('main.about') }}">
                                About
                            </a>
                            {% if current_user.is_authenticated %}
                                <div class="navbar-item" >
                                    <div class="buttons">
                                        <a class="button is-rounded is-light"
                                           href="{{ url_for('main.account_dash') }}">
                                            <span class="icon">
                                                <i class="fas fa-user-circle"></i>
                                            </span>&nbsp;
                                            Account
                                        </a>
                                        <a class="button is-light is-rounded"
                                           href="{{ url_for('main.log_user_out') }}">
                                            <span class="icon">
                                               <i class="fas fa-power-off"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="navbar-item">
                                    <a class="button is-link is-rounded"
                                       href="{{ url_for('main.log_user_in') }}">
                                        Log In
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column">
                        <img src="{{ url_for('static', filename='img/network.png') }}" width="100">
                        <h1 class="title">Project Explorer</h1>
                        <h1 class="subtitle">Total of {{ projects|length }} Projects</h1>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <form method="GET">
                            <div class="field">
                                <div class="control has-icons-left">
                                    <input type="text" name="q"
                                           class="input is-large is-rounded is-focused"
                                           placeholder="Search Project">
                                    <span class="icon is-left">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-right">
                    <a class="button is-link is-rounded"
                       href="{{ url_for('main.register_project') }}"
                    >
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>&nbsp;
                        Register Project
                    </a>
                </div>
            </div>
            <div class="columns">
                <div class="column">
                    <div class="box" id="app">
                        {% if query %}
                            <div class="tags has-addons">
                                <span class="tag is-dark">Query</span>
                                <span class="tag is-warning">{{ query }}</span>
                            </div>
                        {% endif %}
                        <b-table
                                :data="data"
                                ref="table"
                                paginated
                                per-page="20"
                                detailed
                                detail-key="id"
                        >
                            <template slot-scope="props">
                                <b-table-column field="id" label="ID" numeric>
                                    <% props.row.id %>
                                </b-table-column>
                                <b-table-column field="title_th" label="Title" width="300" sortable>
                                    <a @click="toggle(props.row)">
                                        <% props.row.title %>
                                    </a>
                                </b-table-column>
                                <b-table-column field="affil" label="Affiliation" width="300" sortable>
                                    <% props.row.affil %>
                                </b-table-column>
                                <b-table-column field="startdate" label="Start Date" sortable>
                                    <% props.row.startdate %>
                                </b-table-column>
                                <b-table-column field="enddate" label="End Date" sortable>
                                    <% props.row.enddate %>
                                </b-table-column>
                                <b-table-column field="status" label="Status" sortable>
                                    <span class="tag is-link">
                                        <% props.row.status %>
                                    </span>
                                </b-table-column>
                                <b-table-column field="view" label="View">
                                    <a v-bind:href="'/project/'+props.row.id" v-if="props.row.status==='Approved'">
                                        <span class="icon">
                                            <i class="far fa-eye"></i>
                                        </span>
                                        <span class="tag"><% props.row.view_count %></span>
                                    </a>
                                </b-table-column>
                            </template>
                            <template slot="detail" slot-scope="props">
                                <article class="media">
                                    <div class="media-content">
                                        <div class="content">
                                            <p>
                                                <strong>Created by <% props.row.creator.firstname %> <% props.row.creator.lastname %></strong>
                                                <small>
                                                    <span class="icon">
                                                        <i class="fas fa-envelope"></i>
                                                    </span>&nbsp;<% props.row.creator.email %>
                                                    &nbsp;
                                                    <span class="icon">
                                                        <i class="fas fa-landmark"></i>
                                                    </span>&nbsp;<% props.row.creator.affil %>
                                                </small>
                                                <br>
                                                <div class="field is-grouped is-grouped-multiline">
                                                    <div class="control">
                                                        <a v-bind:href="'/cell/'+props.row.cell_id">
                                                            <div class="tags has-addons">
                                                                <span class="tag is-dark"><% props.row.cell_type %></span>
                                                                <span class="tag is-info">
                                                            <strong>THSCR-<% props.row.cell_id %></strong>
                                                        </span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <br>
                                                <small><% props.row.summary %>...</small>
                                                <a v-bind:href="'/project/'+props.row.id" v-if="props.row.status==='Approved'"
                                                    class="button is-link is-small is-rounded">
                                                    See detail
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </article>
                            </template>
                        </b-table>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {

                // Add a click event on each of them
                $navbarBurgers.forEach(el => {
                    el.addEventListener('click', () => {

                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');

                    });
                });
            }

        });
    </script>
    <script>
        var vueApp = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data() {
                return {
                    data: {{ projects|tojson|safe }}
                }
            },
            methods: {
                toggle(row) {
                    this.$refs.table.toggleDetails(row)
                },
                goto(row) {
                    window.open("/account/project/view/" + row.id)
                }
            }
        });
    </script>
{% endblock %}
