{% extends "base.html" %}

{% block content %}
    <section class="hero is-info is-bold is-small">
        <div class="hero-head">
            {% include "main/navbar.html" %}
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column">
                        <img src="{{ url_for('static', filename='img/network.png') }}" width="100">
                        <h1 class="title">Register Project</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section" id="app">
        <div class="container">
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="columns">
                    <div class="column is-two-thirds is-offset-2">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">Registration Form</p>
                            </div>
                            <div class="card-content">
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">
                                            {{ form.title.label }}
                                        </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {{ form.title(class="input") }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">
                                            {{ form.acronym.label }}
                                        </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {{ form.acronym(class="input") }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">
                                            {{ form.summary.label }}
                                        </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {{ form.summary(class='textarea') }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">
                                            {{ form.sponsor_name.label }}
                                        </label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field">
                                            <p class="control is-expanded">
                                                {{ form.sponsor_name(class="input") }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <b-field horizontal label="Start Date">
                                    <b-datepicker placeholder="Click to select.."
                                                  icon="calendar-today"
                                                  v-model="startDate"
                                                  name="hidden_startdate"
                                    >
                                    </b-datepicker>
                                </b-field>
                                <b-field horizontal label="End Date">
                                    <b-datepicker placeholder="Click to select.."
                                        icon="calendar-today" v-model="endDate"
                                                  name="hidden_enddate"
                                    >
                                    </b-datepicker>
                                </b-field>
                                <b-field horizontal label="Cell Line">
                                    <b-autocomplete
                                            v-model="cellLineName"
                                            placeholder="ค้นหา Cell Line ID"
                                            :data="filteredCellLines"
                                            field="id"
                                            @select="option => selectedCellLine = option"
                                            name="hidden_cell"
                                    >

                                        <template slot-scope="props">
                                            <div class="media">
                                                <div class="media-content">
                                                    <strong>ID THSCR<% props.option.id %></strong>
                                                    <p>
                                                        Register at <strong><% props.option.register_datetime %></strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </template>
                                    </b-autocomplete>
                                </b-field>
                                <b-field horizontal label="Institution">
                                    <b-autocomplete
                                        v-model="institutionName"
                                        placeholder="ค้นหาสถาบันด้วยชื่อภาษาไทย"
                                        :data="filteredInstitutions"
                                        field="name_th"
                                        @select="option => selected = option"
                                        name="hidden_institution"
                                    >

                                        <template slot-scope="props">
                                            <div class="media">
                                                <div class="media-content">
                                                    <strong><% props.option.name_th %></strong>
                                                    <small>
                                                        <% props.option.name_en %>
                                                    </small>
                                                    <p>
                                                        Campus <strong><% props.option.campus %></strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </template>
                                    </b-autocomplete>
                                </b-field>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns">
                    <div class="column has-text-centered">
                        {{ form.submit(class="button is-link") }}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        var vueApp = new Vue({
            el: '#app',
            delimiters: ['<%', '%>'],
            data() {
                return {
                    startDate: '',
                    endDate: '',
                    institutions: {{ institutions|tojson|safe }},
                    selected: null,
                    institutionName: '',
                    cellLineName: '',
                    selectedCellLine: null,
                    cells: {{ cells|tojson|safe }}
                }
            },
            computed: {
                filteredInstitutions() {
                    return this.institutions.filter((option) => {
                        return option.name_th.indexOf(this.institutionName) >= 0;
                    })
                },
                filteredCellLines() {
                    return this.cells.filter((option) => {
                        return option.id.toString().indexOf(this.cellLineName) >= 0;
                    })
                }
            },
        });
    </script>
{% endblock %}
