<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulmaswatch.min.css') }}">
    -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h3 class="title is-size-4">About</h3>
                <p>
                    <a href="#">ThSCReg Project</a>
                </p>
                <p>
                    <a href="http://www.tcels.or.th">TCELS</a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-size-4">Cell Lines</h3>
                <p>
                    <a href="{{ url_for('main.register_cell') }}">Register Cell Line</a>
                </p>
                <p>
                    <a href="{{ url_for('main.show_cell_list', cell_type='hESC') }}">All hESC cells</a>
                </p>
                <p>
                    <a href="{{ url_for('main.show_cell_list', cell_type='hiPSC') }}">All hiPSC cells</a>
                </p>
                <p>
                    <a href="{{ url_for('main.show_cell_list', cell_type='MSC') }}">All MSC cells</a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-size-4">Projects</h3>
                <p>
                    <a href="{{ url_for('main.register_project') }}">Register Project</a>
                </p>
                <p>
                    <a href="{{ url_for('main.show_projects') }}">All Projects</a>
                </p>
            </div>
            <div class="column">
                <h3 class="title is-size-4">Account</h3>
                <p>
                    <a href="{{ url_for('main.log_user_in') }}">Log In</a>
                </p>
                <p>
                    <a href="#">Sign Up</a>
                </p>
                <p>
                    <a href="#">Forgot Password</a>
                </p>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <p>
                    Website is powered by Python and Flask Framework + Vue.js + Bulma and Buefy Technology
                </p>
                <div>Icons made by <a href="https://www.flaticon.com/<?=_('authors').'/'?>smashicons" title="Smashicons">Smashicons</a> from <a href="https://www.flaticon.com/" 		    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 		    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
            </div>
        </div>
    </div>
</footer>
{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
{% endblock %}
</body>
</html>